<!-- <footer class="footer"> -->
<section class="section has-background-primary has-text-light">
	<div class="container is-max-widescreen">
		<div class="columns">
			<div class="column has-text-centered">
				<img src="img/AL_logo_web_renv@2x.png" width="50%">
			</div>
			<div class="column">
				<div class="block">
					{{.Site.Params.Address | markdownify}}
				</div>
				<div class="block">

					Des questions? Écrivez-nous!<br />
					<a href="mailto:info@actionlongueuil.com">info@actionlongueuil.com</a>
				</div>
				<div class="block">
					<a href="tel:{{.Site.Params.Telephone}}">
						<span class="icon">
							<i class="fas fa-phone"></i>
						</span>
						{{.Site.Params.Telephone}}
					</a>
				</div>
				<div class="block">
					<a class="icon" href="https://www.facebook.com/ActionLongueuil">
						<i class="fab fa-facebook"></i>
					</a>
					<a href="https://twitter.com/actionlongueuil?lang=en" class="icon">
						<i class="fab fa-twitter"></i>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="block">
					<a href="{{ $.Site.Params.link_don }}" class="button is-link is-rounded">
						<strong>Faites un don</strong>
					</a>
				</div>
				<div class="block">
					<a href="/devenez-membre/" class="button is-rounded has-text-primary">
						Devenez membre
					</a>
				</div>
				<div class="block">
					<a href="/devenez-benevole/" class="button is-rounded has-text-primary">
						Impliquez-vous</a>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="content has-text-centered">
	  <p>
		<strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
		<a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
		is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
	  </p>
	</div> -->
</section>
<!-- </footer> -->
{{ if .IsHome }}
<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}
{{ $script := .Site.Data.webpack.main }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}