<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="navbar-img" src="img/AL_logo_web_180px.png" width="180" height="57">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="button is-primary is-inverted is-arrowless is-medium">
              Équipe
            </a>
    
            <div class="navbar-dropdown is-boxed">
              <a href="/elus" class="navbar-item">
                Élus
              </a>
              <a href="/candidats" class="navbar-item">
                Candidats
              </a>
            </div>
          </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="/histoire" class="button is-primary is-inverted is-arrowless is-medium">
                Parti
              </a>
      
              <div class="navbar-dropdown is-boxed">
                <a href="/histoire" class="navbar-item">
                  Histoire
                </a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="button is-primary is-inverted is-arrowless is-medium">
                Passez à l'action
              </a>
      
              <div class="navbar-dropdown is-boxed">
                <a href="/devenez-membre" class="navbar-item">
                  Devenez membre
                </a>
                <a href="/devenez-benevole" class="navbar-item">
                  Impliquez-vous
                </a>
              </div>
            </div>
        <div class="navbar-item">
          <div class="buttons">
            <a href="https://monelection.org/form/donation/0MZKplDAowudKmGqU3KtlkzF9lXXkE"
               class="button is-medium is-rounded is-link">
              <strong>Faites un don</strong>
            </a>
            <a href="/devenez-membre"
               class="button is-medium is-rounded is-primary">
                <strong>Devenez membre</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>