<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative" style="height:120px">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 flex-none">
		<img src="/img/AL_logo_web_180px.png" alt="Action Longueuil" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>
		<li><a href="/candidate" class="pa3 no-underline db">Candidates</a></li>

		<li><a href="/contact" class="f6 br-pill bg-primary white link dim ph3 pv2 mb2 mt8 dib bg-navy">Contact</a></li>
	</ul>

</nav>
