{{ define "main" }}
<div class="divFooter">
    Autorisé par l'agent officiel Frédéric Angers
</div>
<div class="content intro">
    <h1>Nos engagements</h1>
    <p>

        {{ .Content }}
    </p>
</div>
<ul class="summary">
    {{ $.Scratch.Set "index" 0 }}
    {{ range sort (where .Site.RegularPages.ByTitle "Section" "plateforme" ) "Params.order" "asc" }}
    {{- $img := (site.GetPage .Page.Section).Resources.GetMatch (printf "*%s*" .Params.image) -}}
    {{- $img := $img.Resize "20x" -}}
    {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
    <li style="background: url(data:image/jpeg;base64,{{ $img.Content | base64Encode  }}); background-size: cover;">
        <!-- <img src="{{ .Params.image }}"> -->
        <span>
        <a href="/plateforme/#{{.Params.titre | urlize}}">{{ $.Scratch.Get "index" }}. {{.Params.titre}}</a>
        </span>
    </li>
    {{ end }}
</ul>
<ul>
    {{ $.Scratch.Set "index" 0 }}
    {{ range sort (where .Site.RegularPages.ByTitle "Section" "plateforme" ) "Params.order" "asc" }}
    {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
    <li class="axe" id="{{ .Params.titre | urlize }}">
        <div class="header">
            <div class="content">
                <a name="{{ .Params.titre | urlize }}"></a>
                <h1>
                    <a name="{{ .Params.titre | urlize }}" href="/plateforme/#{{ .Params.titre | urlize }}">{{ $.Scratch.Get "index" }}.  {{ .Params.titre }}</a>
                </h1>
                <div class="keywords">
                    {{ range .Params.keywords }}
                    <span class="keyword">{{ . }}</span>
                    {{ end }}
                </div>
                <p>{{ .Params.description | markdownify }}</p>



                <button class="read-more" id="{{ .Params.titre | urlize }}">Lire plus</button>
            </div>
            {{ partial "img.html" (dict "context" . "src" .Params.image) }}
        </div>
        <div class="description" id="desc-{{ .Params.titre | urlize }}">
            {{ .Content }}
        </div>

    </li>
    <div class="pagebreak"></div>
    {{ end }}
</ul>
<script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
    
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
    
 if( window.location.hash == "#print")
    document.querySelectorAll('.lozad').forEach(x => observer.triggerLoad(x));
                observer.triggerLoad(document.querySelector('.lozad'));


    // if print


    jQuery(".description").addClass("hidden");
    jQuery("button.read-more").each((i, e) => {
        console.log(e);
        jQuery(e).click(() => {
            var desc = jQuery(".description#desc-" + e.id);
            console.log(e, desc[0]);

            var je = jQuery(e);
            desc.toggleClass("hidden");
        })
    });
</script>
{{ end }}