@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
// 2. Set your own initial variables
// Update the blue shade, used for links
$primary: #262262;
$secondary: #FFB512;
$link: $secondary;
$text-strong: findColorInvert($grey-darker);
// Add pink and its invert
// $pink: #ff8080;
// $pink-invert: #fff;
// Update the sans-serif font family
// $family-sans-serif: "Helvetica", "Arial", sans-serif;
// 3. Set the derived variables
// Use the new pink as the primary color
// $primary: $blue;
// $secondary: $yellow;
// $primary-invert: $pink-invert;
// 4. Import the rest of Bulma

@import "../../node_modules/bulma/bulma";

// articles
.articles {
  margin: 0 0 5rem 0;
  // margin-top: -200px;
}
.articles .content p {
    line-height: 1.9;
    margin: 15px 0;
}
.author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border: 2px solid $secondary;
    border-radius: 50%;
}
.media {
  flex-direction: column;
}
.media-center {
  align-self: center;
  display: block;
  margin-bottom: 1rem;
}
.media-content {
  // margin-top: 3rem;
}
.article, .promo-block {
  border-top: solid 3px $primary;
  margin-bottom: 3rem;
}
div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.4;
}
.article-subtitle {
  color: #909AA0;
}
.article-body {
  line-height: 1.4;
  margin: 0 6rem;
}

// nav


.navbar-item img.navbar-img {
    max-height: unset;
}

.navbar {
    border-bottom: solid 5px $primary;
}

.news-preview {
    border: solid 2px $link;
    border-radius: 2px;
}

// collapsible
input[type="checkbox"] {
    display: none;
  }
  .wrap-collabsible {
    border-bottom: 5px solid $primary;
  }
  .wrap-collabsible:hover {
    border-bottom: 5px solid $secondary;
  }
  .lbl-toggle {
    margin-top: 1em;
    display: block;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  .lbl-toggle:hover {
    color: $secondary;
  }
  .lbl-toggle::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
  }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 10000px;
  }
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .collapsible-content .content-inner {
    padding: 0.5rem 1rem;
  }
  .collapsible-content p {
    margin-bottom: 0;
  }
  